<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STAR GYM</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/style.css">
    <script src="js/app.js" type="module"></script>
    <script src="js/init.js" type="module"></script>
</head>
<body>
    
<!-- header section starts      -->

<header class="header">

    <a href="#" class="logo"> <span>STAR</span>GYM</a>

    <div id="menu-btn" class="fas fa-bars"></div>

    <nav class="navbar" id="navv">
        <a href="#home">home</a>
        <a href="#about">about</a>
        <a href="#features">features</a>
        <a href="#pricing">pricing</a>
        <a href="#trainers">trainers</a>
        <a href="#blogs">Socials</a>
        <a href="login">Admin Console</a>
    </nav>

</header>

<!-- header section ends     -->

<!-- home section starts  -->

<section class="home" id="home">

    <div class="swiper home-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide slide" style="background: url(images/home-bg-1.jpg) no-repeat;">
                <div class="content">
                    <span>be strong, be fit</span>
                    <h3>Make yourself stronger than your excuses.</h3>
                    
                </div>
            </div>

            <div class="swiper-slide slide" style="background: url(images/home-bg-2.jpg) no-repeat;">
                <div class="content">
                    <span>be strong, be fit</span>
                    <h3>Make yourself stronger than your excuses.</h3>
                    
                </div>
            </div>

            <div class="swiper-slide slide" style="background: url(images/home-bg-3.jpg) no-repeat;">
                <div class="content">
                    <span>be strong, be fit</span>
                    <h3>Make yourself stronger than your excuses.</h3>
                    
                </div>
            </div>

        </div>

        <div class="swiper-pagination"></div>

    </div>

</section>

<!-- home section ends -->

<!-- about section starts  -->

<section class="about" id="about">

    <div class="image">
        <img src="images/about-img.jpg" alt="">
    </div>

    <div class="content">
        <span>about us</span>
        <h3 class="title">We're striving to make health & fitness available to everyone, that's why we've created a Gym at a great price.</h3>
        <h3 class="title">You will get a very pleasant and positive atmoshpere.</h3>
        <p>Star Gym and Fitness takes care of:-</p>
        <div class="box-container">
            <div class="box">
                <h3><i class="fas fa-check"></i>body and mind</h3>
                <p>"Going to the gym not only benefits your body with physical exercise, but also nurtures your mind with a sense of achievement and well-being."</p>
            </div>
            <div class="box">
                <h3><i class="fas fa-check"></i>healthy life</h3>
                <p>"Adopting a healthy lifestyle through regular gym sessions not only improves physical fitness, but also enhances mental wellbeing, leading to a happier and more fulfilling life."</p>
            </div>
            <div class="box">
                <h3><i class="fas fa-check"></i>strategies</h3>
                <p>"Effective gym strategies often involve setting specific goals, creating a structured workout plan, tracking progress, and adjusting routines to continuously challenge and improve physical fitness."</p>
            </div>
            <div class="box">
                <h3><i class="fas fa-check"></i>workout</h3>
                <p>Sure, here's a suggestion: "Hitting the gym for a workout not only strengthens your body but also your mind, as you push yourself to achieve new levels of fitness."</p>
            </div>
        </di
    </div>

</section>

<!-- about section ends -->

<!-- features section starts  -->

<section class="features" id="features">

    <h1 class="heading"> <span>Our Services</span> </h1>

    <div class="box-container">

        <div class="box">
            <div class="image">
                <img src="images/cardio.jpg" alt="">
            </div>
            <div class="content">
                <img src="images/treadmill.png" alt="">
                <h3>Cardio</h3>
                <p>"Experience the benefits of a healthy heart with our premium cardio equipment and facilities, exclusively available as a service at our gym."</p>
            </div>
        </div>

        <div class="box second">
            <div class="image">
                <img src="images/strength.jpg" alt="">
            </div>
            <div class="content">
                <img src="images/strength.png" alt="">
                <h3>Strength</h3>
                <p>"Our gym offers strength as a service, providing you with the tools, guidance, and support to help you achieve your fitness goals and become the strongest version of yourself."</p>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="images/power-yoga.jpg" alt="">
            </div>
            <div class="content">
                <img src="images/power-yoga.png" alt="">
                <h3>Power Yoga</h3>
                <p>"Get ready to sweat, stretch and strengthen with our Power Yoga classes - the perfect way to improve your fitness, flexibility, and focus all at once!"</p>
            </div>
        </div>

        <div class="box second">
            <div class="image">
                <img src="images/aerobics.jpg" alt="">
            </div>
            <div class="content">
                <img src="images/yoga-pose.png" alt="">
                <h3>Aerobics</h3>
                <p>"At our gym, we offer aerobics classes that are designed to help you burn calories, increase your endurance, and improve your overall cardiovascular health - join us and let our experienced instructors guide you through an energizing and fun workout!"</p>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="images/functional.jpg" alt="">
            </div>
            <div class="content">
                <img src="images/jumping-jack.png" alt="">
                <h3>Functional Training</h3>
                <p>"At our gym, we offer Functional Training as a service to help our members improve their daily movements and overall fitness by using exercises that mimic real-life activities."</p>
            </div>
        </div>
        
        <div class="box second">
            <div class="image">
                <img src="images/steam-sauna.jpg" alt="">
            </div>
            <div class="content">
                <img src="images/steam-room.png" alt="">
                <h3>Steam Sauna</h3>
                <p>"Pamper yourself after a workout with our luxurious steam sauna, available exclusively at our gym to help you unwind, relax and rejuvenate."</p>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="images/yoga.jpg" alt="">
            </div>
            <div class="content">
                <img src="images/yoga (1).png" alt="">
                <h3>Yoga</h3>
                <p>"Join our gym and experience the benefits of yoga, as our expert instructors guide you through this ancient practice to help you achieve physical, mental, and spiritual wellness."</p>
            </div>
        </div>
                
        <div class="box second">
            <div class="image">
                <img src="images/meditation.jpg" alt="">
            </div>
            <div class="content">
                <img src="images/meditation.png" alt="">
                <h3>Meditation</h3>
                <p>"Unwind your mind and transform your body with our gym's meditation service, designed to help you find inner peace and enhance your overall wellness."</p>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="images/kick-boxing.jpg" alt="">
            </div>
            <div class="content">
                <img src="images/sport.png" alt="">
                <h3>Kick Boxing</h3>
                <p>"Join our gym and experience the exhilarating full-body workout of kickboxing, with our expert trainers guiding you through every punch, kick, and strike."</p>
            </div>
        </div>
        <div class="box second">
            <div class="image">
                <img src="images/personal-training.jpg" alt="">
            </div>
            <div class="content">
                <img src="images/lifting.png" alt="">
                <h3>Personal Training</h3>
                <p>"Personal Training is an essential service offered by our gym that provides individualized attention and customized workout plans to help our clients achieve their fitness goals effectively and efficiently."</p>
            </div>
        </div>
    </div>


</section>

<!-- features section ends -->

<!-- pricing section starts  -->

<section class="pricing" id="pricing">

    <div class="information">
        <span>pricing plan</span>
        <h3>affordable pricing plan for you</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam dolore excepturi ea suscipit fugiat cum quae, rerum optio mollitia! Tempora?</p>
        <p> <i class="fas fa-check"></i> cardio exercise </p>
        <p> <i class="fas fa-check"></i> weight lifting </p>
        <p> <i class="fas fa-check"></i> diet plans </p>
        <p> <i class="fas fa-check"></i> overall results </p>
    </div>

    <div class="plan">
        <h3>monthly plan</h3>
        <div class="price" id="price1"><span>₹</span>1700<span>/mo</span></div>
       <div class="list">
        <p> <i class="fas fa-check"></i> personal training </p>
        <p> <i class="fas fa-check"></i> cardio exercise </p>
        <p> <i class="fas fa-check"></i> weight lifting </p>
        <p> <i class="fas fa-check"></i> diet plans </p>
        <p> <i class="fas fa-check"></i> overall results </p>
       </div>
    </div>

    <div class="plan">
        <h3>3 months plan</h3>
        <div class="price" id="price2"><span>₹</span>(4500)1500<span>/mo</span></div>
       <div class="list">
        <p> <i class="fas fa-check"></i> personal training </p>
        <p> <i class="fas fa-check"></i> cardio exercise </p>
        <p> <i class="fas fa-check"></i> weight lifting </p>
        <p> <i class="fas fa-check"></i> diet plans </p>
        <p> <i class="fas fa-check"></i> overall results </p>
       </div>
    </div>

</section>

<!-- pricing section ends -->

<!-- trainers section starts  -->

<section class="trainers" id="trainers">

    <h1 class="heading"> <span>expert trainers</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="images/trainer-1.jpg" alt="">
            <div class="content">
                <span>expert trainer</span>
                <h3>Amit Sir</h3>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-pinterest"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>
        </div>

        <div class="box">
            <img src="images/trainer-2.jpg" alt="">
            <div class="content">
                <span>expert trainer</span>
                <h3>XYZ</h3>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-pinterest"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>
        </div>

        <div class="box">
            <img src="images/trainer-3.jpg" alt="">
            <div class="content">
                <span>expert trainer</span>
                <h3>Anubhav Sir</h3>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-pinterest"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>
        </div>

        <div class="box">
            <img src="images/trainer-4.jpg" alt="">
            <div class="content">
                <span>expert trainer</span>
                <h3>XYZ</h3>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-pinterest"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>
        </div>

    </div>

</section>

<!-- trainers section ends -->

<!-- banner section starts  -->

<section class="banner">

    <span>join us now</span>
    <h3>get upto 50% discount</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat architecto nesciunt aut sapiente quis inventore quam vitae quod illum incidunt.</p>


</section>

<!-- banner section ends -->

<!-- review section starts  -->

<section class="review">

    <div class="information">
        <span>testimonials</span>
        <h3>what our clients says</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis voluptas praesentium asperiores fugiat, excepturi odit obcaecati a voluptatibus earum quisquam?</p>
    </div>

    <div class="swiper review-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide slide">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus, quo.</p>
                <div class="user">
                    <img src="images/pic-1.png" alt="">
                    <div class="info">
                        <h3>john deo</h3>
                        <span>designer</span>
                    </div>
                    <i class="fas fa-quote-left"></i>
                </div>
            </div>

            <div class="swiper-slide slide">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus, quo.</p>
                <div class="user">
                    <img src="images/pic-2.png" alt="">
                    <div class="info">
                        <h3>john deo</h3>
                        <span>designer</span>
                    </div>
                    <i class="fas fa-quote-left"></i>
                </div>
            </div>

            <div class="swiper-slide slide">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus, quo.</p>
                <div class="user">
                    <img src="images/pic-3.png" alt="">
                    <div class="info">
                        <h3>john deo</h3>
                        <span>designer</span>
                    </div>
                    <i class="fas fa-quote-left"></i>
                </div>
            </div>

            <div class="swiper-slide slide">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus, quo.</p>
                <div class="user">
                    <img src="images/pic-4.png" alt="">
                    <div class="info">
                        <h3>john deo</h3>
                        <span>designer</span>
                    </div>
                    <i class="fas fa-quote-left"></i>
                </div>
            </div>

        </div>

    </div>

</section>

<!-- review section ends -->

<!-- blogs section starts  -->

<!-- <section class="blogs" id="blogs">

    <h1 class="heading"> <span>daily posts</span> </h1>

    <div class="swiper blogs-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide slide">
                <div class="image">
                    <img src="images/blog-1.jpg" alt="">
                </div>
                <div class="content">
                    <div class="link"> <a href="#">by user</a> <span>|</span> <a href="#">21st may, 2021</a> </div>
                    <h3>fitness is not about being better than someone else</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, tenetur?</p>

                </div>
            </div>
            
            <div class="swiper-slide slide">
                <div class="image">
                    <img src="images/blog-2.jpg" alt="">
                </div>
                <div class="content">
                    <div class="link"> <a href="#">by user</a> <span>|</span> <a href="#">21st may, 2021</a> </div>
                    <h3>fitness is not about being better than someone else</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, tenetur?</p>

                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="image">
                    <img src="images/blog-3.jpg" alt="">
                </div>
                <div class="content">
                    <div class="link"> <a href="#">by user</a> <span>|</span> <a href="#">21st may, 2021</a> </div>
                    <h3>fitness is not about being better than someone else</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, tenetur?</p>

                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="image">
                    <img src="images/blog-4.jpg" alt="">
                </div>
                <div class="content">
                    <div class="link"> <a href="#">by user</a> <span>|</span> <a href="#">21st may, 2021</a> </div>
                    <h3>fitness is not about being better than someone else</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, tenetur?</p>

                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="image">
                    <img src="images/blog-5.jpg" alt="">
                </div>
                <div class="content">
                    <div class="link"> <a href="#">by user</a> <span>|</span> <a href="#">21st may, 2021</a> </div>
                    <h3>fitness is not about being better than someone else</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, tenetur?</p>

                </div>
            </div>

        </div>

        <div class="swiper-pagination"></div>

    </div>

</section> -->

<!-- blogs section ends -->
<section class="blogs" id="blogs">

    <h1 class="heading"> <span>Socials</span> </h1>
    <script src="https://apis.google.com/js/platform.js"></script>
    <div class="social-container">
        <div>
            <div class="g-ytsubscribe" data-channelid="UCu6GNukjXCOGC7c3livEtlg" data-layout="full" data-theme="default" data-count="default"></div>
            <br>
            <span class="youtube-text">Stay Tuned by subsribing to our Yotube Channel!</span>
        </div>
        <br>
        <br>
        <br>
        <img src="images/star_gym_logo.jpg" width="200px" height="200px" class="logo"/>
        <br>
        <br>

        <div class="face-link">
            <a href="https://www.facebook.com/StarGymLucknow">Visit our facebook page!</a>
        </div>
</div>
</section>

<!-- footer section starts  -->

<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>quick links</h3>
            <a class="links" href="#home">home</a>
            <a class="links" href="#about">about</a>
            <a class="links" href="#features">features</a>
            <a class="links" href="#pricing">pricing</a>
            <a class="links" href="#trainers">trainers</a>
            <a class="links" href="#blogs">socials</a>
        </div>

        <div class="box">
            <h3>opening hours</h3>
            <p> monday : <i> 7:00am - 10:30pm </i> </p>
            <p> tuesday : <i> 7:00am - 10:30pm </i> </p>
            <p> wednesday : <i> 7:00am - 10:30pm </i> </p>
            <p> friday : <i> 7:00am - 10:30pm </i> </p>
            <p> saturday : <i> 7:00am - 10:30pm </i> </p>
            <p> sunday : <i> closed </i> </p>
        </div>

        <div class="box">
            <h3>opening hours</h3>
            <p> <i class="fas fa-phone"></i> +91 8090505700 </p>
            <p> <i class="fas fa-envelope"></i> stargymandfitness@gmail.com </p>
            <p> <i class="fas fa-map"></i> 1/613 Sec-J, Kursi Road, Jankipuram, Lucknow, Near Gudamba Police Station </p>
            <p> <i class="fas fa-map"></i> Shukla Complex, 23A, 23 A-B, Sitapur Rd, near Bright Motors, Mausam Bagh, Triveni Nagar, Lucknow, Uttar Pradesh 226020 </p>
            <div class="share">
                <a href="https://www.facebook.com/StarGymLucknow" class="fab fa-facebook-f"></a>
                <a href="https://www.youtube.com/channel/UCu6GNukjXCOGC7c3livEtlg" class="fab fa-youtube"></a>
            </div>
        </div>

        <div class="box">
            <h3>Join Today</h3>
            <div class="enquiry-form" id="enquiryform">
                <p>We'll get back to you</p>
                <form  enctype="text/plain" id="enquiry-form">
                    <input type="number" name="" class="fa-phone" placeholder="enter your Mobile number" id="form-phone" required>
                    <br>
                    <br>
                    <input type="text" name=""  placeholder="enter your Name" id="form-name" required>
                    <br>
                    <br>
                    <input type="text" name=""  placeholder="enter any comments!" id="form-comments">
                    <br>
                    <br>
                    <input type="submit" value="Send Enquiry" class="btn" id="sendEnquiry">
                </form>
            </div>

        </div>

    </div>

</section>

<div class="credit"> created by <span>Aman</span> | all rights reserved! </div>

<!-- footer section ends -->













<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<!-- custom js file link  -->
<script src="js/script.js"></script>

</body>
</html>