<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STAR GYM</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/style.css">
    <script src="js/newUsers.js" type="module"></script>
</head>
<body>
    
<!-- header section starts      -->

<header class="header">

    <a href="#" class="logo"> <span>STAR</span>GYM </a>

    <div id="menu-btn" class="fas fa-bars"></div>

    <nav class="navbar">
        <a href="#">home</a>
        <a href="#">about</a>
        <a href="#">features</a>
        <a href="#">pricing</a>
        <a href="#">trainers</a>
        <a href="#">blogs</a>
    </nav>

</header>

<!-- header section ends     -->


<!-- Login Section starts -->

<div class="centered">
    <section class="cards" id="cards-section">
</section>
</div>


<div id="save-changes-button-div">
    <button type="submit" id="deleteButton">Delete all Requests!</button>
</div>

<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>quick links</h3>
            <a class="links" href="#">home</a>
            <a class="links" href="#">about</a>
            <a class="links" href="#">features</a>
            <a class="links" href="#">pricing</a>
            <a class="links" href="#">trainers</a>
            <a class#">socials</a>
        </div>

        <div class="box">
            <h3>opening hours</h3>
            <p> monday : <i> 7:00am - 10:30pm </i> </p>
            <p> tuesday : <i> 7:00am - 10:30pm </i> </p>
            <p> wednesday : <i> 7:00am - 10:30pm </i> </p>
            <p> friday : <i> 7:00am - 10:30pm </i> </p>
            <p> saturday : <i> 7:00am - 10:30pm </i> </p>
            <p> sunday : <i> closed </i> </p>
        </div>

        <div class="box">
            <h3>opening hours</h3>
            <p> <i class="fas fa-phone"></i> +91 8090505700 </p>
            <p> <i class="fas fa-envelope"></i> stargymandfitness@gmail.com </p>
            <p> <i class="fas fa-map"></i> 1/613 Sec-J, Kursi Road, Jankipuram, Lucknow, Near Gudamba Police Station </p>
            <p> <i class="fas fa-map"></i> Shukla Complex, 23A, 23 A-B, Sitapur Rd, near Bright Motors, Mausam Bagh, Triveni Nagar, Lucknow, Uttar Pradesh 226020 </p>
            <div class="share">
                <a href="https://www.facebook.com/StarGymLucknow" class="fab fa-facebook-f"></a>
                <a href="https://www.youtube.com/channel/UCu6GNukjXCOGC7c3livEtlg" class="fab fa-youtube"></a>
            </div>
        </div>

        <div class="box">
            <h3>Get latest user requests</h3>
            <form method="post" action="/newUsers">
                <input type="hidden" name="id" id="hidden-id-field" value="" /> 
                <button type="submit" id="get-users-button">Click Here</button>
            </form>
        </div>

    </div>

</section>
<div class="credit"> created by <span>Aman</span> | all rights reserved! </div>













<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<!-- custom js file link  -->
<script src="js/script.js"></script>

</body>
</html>